.env

__pycache__/
.pytest_cache/
*.py[cod]

.vscode/
.idea/

node_modules/

frontend/public/OldMDeal

# Documents
LinkedIn Post 1.pdf
Cardopoly Issue #1.png
Cardopoly Writeup.docx
MonopolyVCardopoly.pptx

# Redis database
dump.rdb

.DS_Store